extends layout

block content
	h1 My name is Alea
	h3 and i like to code
	p Thanks for stopping by!
	a(href='https://github.com/aleanalesnik') Github
	br
	a(href='https://www.linkedin.com/in/aleanalesnik/') Linkedin
	br
	br
	.marble2