doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		title Bulletin Board
	body
		.topnav
			a.active(href='/') Home
			a(href='/messages') Quotes
			a(href='/about') About
		.footer
	block content